{% extends 'appusc/base.html' %}

    {% block content %}
        
        <br>
        
        <br>

        <div class="w3-container">
            <h5>Students List</h5>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                {% for registro in estud %}
                <tr>
                    <td>{{ registro.cedula }}</td>
                    <td>{{ registro.nombres }}</td>
                    <td>{{ registro.apellidos }}</td>
                </tr>
                {% endfor %}
              
            </table><br>
            
          </div>


      
     {% endblock %}