{% load static %}
<!DOCTYPE html>
<html>
<title>Welcome to RAP solution</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Carga de Estilos locales -->
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <a class="w3-button w3-blue w3-right" href="/detail">Logout</a>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:200px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    
    <div class="w3-col s8 w3-bar">
      <span>Bienvenido, <strong><b>{{request.user.username}}</b></strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
  
    <a href="/modelo" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-cog fa-fw"></i>  Optimization Model</a><br><br>
    <a href="/genetic_algorithm" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-cog fa-fw"></i> Genethic Algorithm RAP</a><br><br>


    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/ctg_listaprofes_tm" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Teachers</a>
    <a href="/ctg_listaestudiantes_tm" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users w3-text-black"></i>  Estudents</a>
    <a href="/tragrados" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>  Assigned Work</a>
    <a href="/nuevatutoria" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-tasks fa-fw"></i>  New Final Work</a>
    
  
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:200px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Mesagges</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Views</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Shared</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
     
      <div class="w3-twothird">
        <h5>User Management</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Last User Loged in</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Warnings ammount</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Active Users</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
            <td>New Comments</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
            <td>Progess Advance</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
            <td>files Upload</td>
            <td><i>35 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
            <td>Shared Elements</td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <hr>

  <div class="w3-container">
    <h5>Teacher Progress</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>Miguel Leo</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>Jhon Doe</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Andrés String</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Jorge Double</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>David Float</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>Monica Doe</td>
        <td>53.5%</td>
      </tr>
    </table><br>
    <button class="w3-button w3-dark-grey">Check all the teachers  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  <hr>

  <div class="w3-container">
    <h5>Recent Coments</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle"src="{% static 'images/jhonmasso.jpg' %}" style="width:96px;height:96px">
        <!--<img class="w3-circle" src="/images/jhonmasso.jpg" style="width:96px;height:96px">-->
      </div>
      <div class="w3-col m10 w3-container">
        <h4>John Doe <span class="w3-opacity w3-medium">Feb 29, 2021, 9:12 PM</span></h4>
        <p>Sigue así buen trabajo</p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle"src="{% static 'images/julianguespu.jpg' %}" style="width:96px;height:96px">
        <!--<img class="w3-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">-->
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Julian Got <span class="w3-opacity w3-medium">Mar 04, 2021, 10:15 PM</span></h4>
        <p>Debes corregir la citación, revisa por favor.</p><br>
      </div>
    </div>
  </div>
  <br>
  

  <!-- Pie de página -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <!-- Enlace a página princial target= "_blank" abre una nueva pestaña -->
    
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
