{% extends 'appusc/base.html' %}

    {% block content %}
        
        <br>
        
        <br>
     
           <style>
            .card {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                margin-left:0px;
                margin-right: 20px;
                transition: 0.3s;
                width: 100%;
                border-radius: 5px;
            }
            
            .card:hover {
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
            
            .container {
                padding: 2px 16px;
            }
            .leftcontainer {
                padding: 2px 16px;
                box-shadow: 0 2px 2px 0 rgba(7, 156, 241, 0.712);
                margin-left:0px;
                margin-right: 0px;
            }
            img {
                border-radius: 5px 5px 0 0;
                }
            .tab1{padding-left: 4em;}

            </style>
          

            <h2>Tutorías Asignadas</h2>
            {% for registro in tgs %}
            <div class="card">
              <div class="leftcontainer">
                <p><b>Título : </b>{{ registro.titulo }}</p>
                <p> Código del trabajo de grado:&emsp;{{ registro.id }}&emsp;&emsp;Modalidad:&emsp;{{ registro.modalidad }}&emsp;&emsp;Estado:&emsp; <b style="color: rgb(4, 0, 255);">{{ registro.estado }}</b></p>
              </div>
              <div class="container">
                         
                
                <p><b>Estudiante(s) :</b>&nbsp;&nbsp;<button style=" background-color: rgb(0, 255, 179);"><a href="{% url 'ultima' registro.id %}" type="submit">Revisar</a></button>&nbsp;Fecha de asignación: &nbsp; {{ registro.fecha_asignacion }} </p>

                <p>{{ registro.cedula1 }}&nbsp;{{ registro.nombre1 }}&nbsp;{{ registro.apellidos1 }}</p> 
                {% if registro.cedula2 %}
                <p>{{ registro.cedula2 }}&nbsp;{{ registro.nombre2 }}&nbsp;{{ registro.apellidos2 }}</p> 
                {% endif %}
                {% if registro.cedula3 %}
                <p>{{ registro.cedula3 }}&nbsp;{{ registro.nombre3 }}&nbsp;{{ registro.apellidos3 }}</p>     
                {% endif %}
               </div>
            </div>
            <br>
            {% endfor %}
            <br>


      
     {% endblock %}